.users{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.4rem;
}

.users .user{
    width: 30%;
    margin: 10px;
    min-width: 200px;
}

.users .user .card-header{
    background-image: linear-gradient(45deg, #83e0e0, #2be9aa, #00fcb0);
    font-weight: 700;
}

.users .user .card-text span{
    font-weight: 500;
}