.form-wrapper form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 300px;
}

.form-wrapper form label{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-size: 1.4rem;
    text-align: left;
}

.form-wrapper form input, select{
    margin-top: 10px;
}

.form-wrapper form input{
    border: none;
    border-bottom: 2px solid gray;
}

.form-wrapper form input:focus{
    outline: none;
}

.form-wrapper form .terms{
    display: inline-block;
    position: relative;
}

.checkmark {
    position: absolute;
    top: 9px;
    left: 5px;
    height: 15px;
    width: 15px;
    background-color: rgb(28, 143, 209);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.form-wrapper form .terms ~ .checkmark{
    background-color: #206cfa;
}

.terms input:checked ~ .checkmark:after{
    display: block;
}

.terms .checkmark:after{
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.terms input{
    opacity: 0;
    margin-right: 20px;
}

.error{
    color: red;
}

.error:before{
    content: '* ';
}